/* Facts Section
--------------------------------*/
#facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
  }
  #facts .counters span {
    font-size: 48px;
    display: block;
    color: #FF912B;
  }
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }